<div class="header">
  <div class="logo">
    <a href="#aboutme">
      <svg _ngcontent-c1="" height="60" width="70">
        <circle _ngcontent-c1="" fill="#aeaeae" r="25" cx="40" cy="30"></circle><text _ngcontent-c1="" dy=".3em"
          fill="white" font-family="Arial" font-size="20px" text-anchor="middle" x="58%" y="51%" >VA</text> Sorry, your
        browser does not support inline SVG.
      </svg>
    </a>
  </div>
  <ul>
    <li><a href="#skills">SKILLS</a></li>
    <li> <a href="#experience">EXPERIENCE</a></li>
    <li><a href="#projects">PROJECTS</a></li>
    <li><a href="#contact">CONTACT</a></li>
  </ul>

</div>