<div class="header">
    <div class="logo">
      <a href="#aboutme"> 
      <svg width="70" height="70">
        <circle cx="35" cy="35" r="25" fill="#aeaeae" />
        <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="20px" font-family="Arial" dy=".3em">VA</text>
        Sorry, your browser does not support inline SVG.
      </svg>
      </a>
    </div>
    <ul>
      <li><a href="#skills">SKILLS</a></li>
      <li> <a href="#experience">EXPERIENCE</a></li>
      <li><a href="#projects">PROJECTS</a></li>
      <li><a href="">CONTACT</a></li>
    </ul>
  
  </div>