@import 'src/styles/variables.scss';

.logo{
    padding-top:5px;
    margin-right:auto;
}

.header{
    background-color:$grey-bg;
    //height:90px;
    width:100%;
 }
.menu{
    width:100%;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    border-bottom:1px solid $theme-color;
   
    

    //position:relative;
    ul{
        list-style: none;
        margin-left:auto; 
        margin-right:31%;
        font-size: 15px !important;
    }
    li{
        padding:5px 25px 5px 25px;
        vertical-align: baseline;
        display:inline;
    }
    a{
        text-decoration: none;
        color:$grey-font;
        font-size:15px;
    }
}

.sign{
    margin-left:42%;
}

