$theme-color:#f7be0c;
$grey-bg:#f1f1f1;
$section-height:650px;
$grey-font:grey;
$white: #fff;

.contact{
    width:100%;
    height:$section-height;
    background-color: $grey-bg;
    font-size: 1.9rem;
}

.divider{
    border-left: 2px solid #f7be0c;
    height: 350px;
    margin-left: 50%;
    margin-top: 160px;
    position: absolute;
}

.left-content{
    padding-top: 200px ;
    padding-left: 290px;
    padding-right:10px;
    text-align: right;
}

.right-content{
    padding-top: 200px ;  
    padding-left:30px;  
}

.half{
    width:50%;
    float: left;
}
.welcome{
    margin-left: 35.3%;
    margin-top:100px;
    position: absolute;
    text-align: center;
}

.contact-icon{
    width:60px;
    height:60px;
    margin-top:10px;
}
