<div id="contact" class="contact">

    <div class="welcome">You are welcome to get in touch</div> 
  <div class="half">
    <div class="left-content"> LinkedIn
      <br>
      <a href="https://www.linkedin.com/in/vasanth-kumar-anke-58a575152">
        <img class="contact-icon" src="assets/icon/linkedin.jpg">
      </a>
    </div>
  </div>

  <div class="divider"> </div>
  
  <div class="half">
    <div class="right-content">
      Gmail <br>
      <a href="mailto:vasanth.anke@gmail.com">
        <img class="contact-icon" src="assets/icon/gmail.png">
      </a>
    </div>
  </div>
</div>