<div id="contact" class="contact">
  <div class="card">
    <ul>
      <li>
        Contact me on:
      </li>
      <li>
        <a href="https://www.linkedin.com/in/vasanth-kumar-anke-58a575152" title="Linkedin profile">
          Linked<img class="contact-icon" src="assets/icon/linkedin.jpg">
        </a>
      </li>|
      <li>
        <a href="mailto:vasanth.anke@gmail.com" title="vasanth.anke@gmail.com">
          G<img class="contact-icon" src="assets/icon/gmail.png">ail
        </a>
      </li>
    </ul>
  </div>
</div>