<div id="projects" class="projects">
    <div class="page-header">
        PROJECTS
    </div>

    <div class="proj-wrap qbe" >
        <div class="logo">  <img class="qbe-logo" src="assets/images/qbe.png" alt="QBE LMI"> </div>
        <div class="desc"> 
            <p>
                Formed new squad for QBE LMI project, proposed scaled agile framework and helped in defining processes.
                Delivered major projects in 2020 and won our team the prestitgious CIO Award. Driving the tehcnology upgrade
                and cloud readiness for new applications.
           </p> 
        </div>
    </div>

    <div class="proj-wrap juniper" >
       <div class="logo"> <img class="juniper-logo" src="assets/images/jnpr.png" alt="Juniper">
      </div>
       <div class="desc"> <p>Juniper has suite of information applications at <a href="https://apps.juniper.net" >apps.juniper.net</a>. I was solutioning end to end design and architecture of multiple internet and intranet facing applications.
            Introduced scrum framework and facilitated application delivery as a Scrum master.
       </p> </div>
    </div>

    

    <div class="proj-wrap ubs" >
        <div class="logo">  <img class="ubs-logo" src="assets/images/ubs.png" alt="UBS"> </div>
        <div class="desc"> <p>Investment Banker Portal application had a data management suite. I lead the development team analysing the technical feasibility of the requirements and propose solution options.
           </p> </div>
    </div>

</div>