<div id="projects" class="projects">
    <div class="page-header">
        PROJECTS
    </div>

    <div class="proj-wrap juniper" >
       <div class="logo"> <img class="juniper-logo" src="assets/images/jnpr.png" alt="Juniper">
      </div>
       <div class="desc"> <p>Solutioning end to end design and architecture of multiple internet and intranet facing applications.
            Introduced scrum framework and facilitate application delivery as a Scrum master.
       </p> </div>
    </div>

    <div class="proj-wrap qbe" >
        <div class="logo">  <img class="qbe-logo" src="assets/images/qbe.png" alt="QBE"> </div>
        <div class="desc"> <p>Collaborating with QBE business leads at client site in Australia for identifying business requirements and enhancements.
            Preparing technical design docs, developed and mentored junior team members.
           </p> </div>
    </div>

    <div class="proj-wrap ubs" >
        <div class="logo">  <img class="ubs-logo" src="assets/images/ubs.png" alt="UBS"> </div>
        <div class="desc"> <p>Analysing the technical feasibility of the requirements and propose solution options. Lead the development team.
           </p> </div>
    </div>

</div>