<div id="projects" class="projects">
    <div class="proj-title">
        PROJECTS
    </div>

    <div class="proj-wrap juniper" >
       <div class="logo"> <img class="juniper-logo" src="assets/jnpr.png" alt="Juniper">
      </div>
       <div class="desc"> <p>kadflkjkfsk asjfkl klasdu asdu </p> </div>
    </div>

    <div class="proj-wrap qbe" >
        <div class="logo">  <img class="qbe-logo" src="assets/qbe.png" alt="QBE"> </div>
        <div class="desc"> <p>kadflkjkfsk asjfkl klasdu asdu </p> </div>
    </div>

    <div class="proj-wrap ubs" >
        <div class="logo">  <img class="ubs-logo" src="assets/ubs.png" alt="UBS"> </div>
        <div class="desc"> <p>Investment banking </p> </div>
    </div>

</div>