$theme-color:#f7be0c;
$grey-bg:#f1f1f1;
$section-height:630px;
$summary-height:530px;
$grey-font:grey;

.skills{
    width: 100%;
    height:$section-height;
    background-color: #fff;
}

.skills-title{
    
    width: 2%;
    float: left;
    color: #ccc;
    font-size: 3rem;
    word-wrap: break-word;
    margin-top: 120px;
    padding-left: 10px;
    text-align: center;
}


.skill-icons{
    width: 45%;
    float:left;
    position: relative;
}
.icons-bg{
    width: 369px;
    height: 375px;
    margin-top: 155px;
    margin-left: 145px;
    background-color: #f7be0c;
    position: absolute;
    opacity: 0.8;

}
.icon-wrap{
    width: 360px;
    height: 360px;
    margin-top: 115px;
    margin-left: 90px;
    float: left;
    position:absolute;
}
.icon-box{
    width:86px;
    height:86px;
    float:left;
    background-color: $grey-bg;
    border: 2px solid #fff;
    //position: absolute;
}
.icon{
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-left: 16px;
}
.icon-big{
    width: 80px;
    height: 80px;
}

.icon-med{
    width: 50px;
    height: 50px;
}

.java{
    margin-top:30px;
    margin-left:50px;
    position: absolute;
}
.spring-boot{
    margin-top:250px;
    margin-left:230px;
    position: absolute;
}
.spring-boot-img{
    width: 70px;
    height: 45px;
    margin-left: 10px;
    margin-top: 20px;
}

.spring{
    margin-top:70px;
    margin-left:150px;
    position: absolute;
}

.angular{
    margin-top:70px;
    margin-left:300px;
    position: absolute;
}

.aws{
    margin-top:230px;
    margin-left:370px;
    position: absolute;
}

.aws-img{
    width: 100px;
    height: 50px;
    margin-left: -6px;
}

.git{
    margin-top:321px;
    margin-left:230px;
    position: absolute;
}
.git-img{
    width:60px;
    height:30px;
    margin-top:26px;
}

.hibernate{
    margin-top:311px;
    margin-left:318px;
    position: absolute;
}

.maven{
    margin-top:445px;
    margin-left:365px;
    position: absolute;
}

.maven-img{
    width: 68px;
    height:28px;
}

.oracle{
    margin-top:460px;
    margin-left:136px;
    position: absolute;
}

.oracle-img{
    width:66px;
    height:75px;
    margin-top:10px;
}

.orient{
    margin-top:563px;
    margin-left:300px;
    position: absolute;
}
.orient-img{
    width:70px;
    height:55px;
    margin-left: 10px;
}

.tomcat{
    margin-top:295px;
    margin-left:123px;
    position: absolute;
}
.tomcat-img{
    width: 72px;
    height: 70px;
    margin-top: 10px;
    margin-left: 9px;
}

.vue{
    margin-top:505px;
    margin-left:70px;
    position: absolute;
}

.skill-set{
    width:50%;
    float:right;
   // position: relative;
    margin-top: 80px;
    //display:inline-flex;
}
.skills-wrap{
    width:100%;
    //position: absolute;
    float:left;
    display:inline-flex;
}
.skill-n{
    width:25%;
    float:left;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #ccc;
    color: $grey-font;
}

.skill-v{
    width:75%;
    float:left;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #ccc;
    color: $grey-font;
    font-size: 0.9rem;
}