<div id="skills" class="skills">
  <div class="page-header">
    SKILLS
  </div>

  <div class="skill-icons">
      <div appParallax [ratio]="0.1" class="icons-bg"> 
      </div>   
    <div appParallax [ratio]="-0.08" class="icon-wrap"> 
        <div class="icon-box">
            <img class="icon" src="assets/icon/java.png" alt="java"> 
        </div>
        <div class="icon-box">
            <img class="icon" src="assets/icon/spring-framework.svg" alt="spring 5">
        </div>
        <div class="icon-box">
            <img class="icon" src="assets/icon/angular.png" alt="angular">
        </div>
        <div class="icon-box">
            <img class="icon aws-img" src="assets/icon/aws.png" alt="aws">
        </div>
        <div class="icon-box">
            <img class="icon spring-boot-img" src="assets/icon/spring-boot.png" alt="spring-boot">
        </div>
        <div class="icon-box">
            <img class="icon" src="assets/icon/hibernate.png" alt="hibernate">
        </div>
        <div class="icon-box">
            <img class="icon" src="assets/icon/vue.png" alt="vue">
        </div>
        <div class="icon-box">
            <img class="icon git-img" src="assets/icon/git.png" alt="git">
        </div>
        <div class="icon-box">
            <img class="icon maven-img" src="assets/icon/maven.png" alt="maven">
        </div>
        <div class="icon-box">
            <img class="icon tomcat-img" src="assets/icon/tomcat.png" alt="tomcat">
        </div>
        <div class="icon-box">
            <img class="icon orient-img" src="assets/icon/orient.png" alt="orient">
        </div> 
        <div class="icon-box">
            <img class="icon oracle-img" src="assets/icon/oracle.png" alt="oracle">
        </div> 
        <div class="icon-box">
            <img class="icon" src="assets/icon/docker.png" alt="docker">
        </div> 
        <div class="icon-box">
            <img class="icon" src="assets/icon/eclipse.png" alt="eclipse">
        </div> 
        <div class="icon-box">
            <img class="icon" src="assets/icon/npm.svg" alt="npm">
        </div> 
        <div class="icon-box">
            <img class="icon" src="assets/icon/hibernate.png" alt="hibernate">
        </div> 
    </div>  
  </div> 

  <!-- <div class="skill-icons">
    <div appParallax [ratio]="-0.2" class="java"> <img class="icon-big" src="assets/icon/java.png" alt="java"> </div>
    <div appParallax [ratio]="0" class="spring"> <img class="icon-med" src="assets/icon/spring-framework.svg"
        alt="spring 5"></div>
    <div appParallax [ratio]="0.1" class="spring-boot"><img class="icon-med" src="assets/icon/spring-boot.png"
        alt="spring-boot"></div>

    <div appParallax [ratio]="0" class="angular"><img class="icon-med" src="assets/icon/angular.png" alt="angular">
    </div>
    <div appParallax [ratio]="0.1" class="aws"><img class="icon-big" src="assets/icon/aws.png" alt="aws"></div>
    <div appParallax [ratio]="-0.2" class="git"><img class="git-img" src="assets/icon/git.png" alt="git"></div>
    <div appParallax [ratio]="0" class="hibernate"><img class="icon-med" src="assets/icon/hibernate.png"
        alt="hibernate"></div>
    <div appParallax [ratio]="0" class="maven"><img class="maven-img" src="assets/icon/maven.png" alt="maven"></div>
    <div appParallax [ratio]="-0.05" class="oracle"><img class="icon-big" src="assets/icon/oracle.png" alt="oracle">
    </div>

    <div appParallax [ratio]="0" class="tomcat"><img class="tomcat-img" src="assets/icon/tomcat.png" alt="tomcat"></div>
    <div appParallax [ratio]="0.1" class="vue"><img class="icon-med" src="assets/icon/vue.png" alt="vue"></div>
    <div appParallax [ratio]="0.1" class="orient"><img class="orient-img" src="assets/icon/orient.png" alt="orient">
    </div>
  </div> -->
 
  <div class="skill-set">
    <div class="skills-wrap">
      <div class="skill-n">Languages</div>
      <div class="skill-v"><b>Java</b>, JavaScript, HTML, UML, XML, PL/SQL, CSS</div>
    </div>
    <div class="skills-wrap">
      <div class="skill-n">Java Technology</div>
      <div class="skill-v">J2EE frameworks, Servlets, JSP, JDBC, JAXB, JAXP,
        GOF Design Patterns, Spring, <b>Spring Boot</b>, JPA, Hibernate, Webservices, <b>REST API</b>, Microservices, Struts,
        JMS, SOA, ESB,
        MuleSoft, JUnit
      </div>
    </div>
    <div class="skills-wrap">
      <div class="skill-n">UI</div>
      <div class="skill-v">jQuery, AJAX, <b>Angular</b>, Vue.js, Thyme leaf</div>
    </div>
    <div class="skills-wrap">
      <div class="skill-n">RDBMS</div>
      <div class="skill-v"><b>Oracle 12c</b>, Orient DB and My SQL</div>
    </div>
    <div class="skills-wrap">
      <div class="skill-n">Cloud</div>
      <div class="skill-v"><b>AWS</b> (EBS, ECS, ELB, ECR, S3, CodePipeLine)</div>
    </div>

    <div class="skills-wrap">
      <div class="skill-n">Version Control</div>
      <div class="skill-v"><b>Git</b>, SVN, CVS</div>
    </div>

    <div class="skills-wrap">
      <div class="skill-n">Build Tools</div>
      <div class="skill-v">Ant, <b>Maven</b>, Gradle, Gulp, npm</div>
    </div>

    <div class="skills-wrap">
      <div class="skill-n">DevOps</div>
      <div class="skill-v"><b>Docker</b>, Splunk, Gitlab, Jenkins, Crucible, Jira</div>
    </div>

    <div class="skills-wrap">
      <div class="skill-n">IDE</div>
      <div class="skill-v">Eclipse, Rational Rose, Visual Studio Code, PyCharm, Astah
      </div>
    </div>

    <div class="skills-wrap">
      <div class="skill-n">Servers</div>
      <div class="skill-v"><b>Tomcat</b>, JBoss, Jetty</div>
    </div>
  </div> 
</div>