<div id="experience" class="experience">
  <div class="exp-title">
    EXPERIENCE
  </div>

   <div class="vline"> </div>
   <div class="dot dot1" ><span class="time">2019</span></div>
   <div class="dot dot2" ><span class="time">2015</span></div>
   <div class="dot dot3" ><span class="time">2009</span></div>
   <div class="dot dot4" ><span class="time">2005</span></div>

   <div class="box box1"><span class="box-header">Juniper Networks</span> </div>
   <div class="box box2"><span class="box-header">Accenture, Sydney</span> </div>
   <div class="box box3"><span class="box-header">Accenture, India</span> </div>
   <div class="box box4"><span class="box-header">DST Systems</span> </div>
</div>