@import 'src/styles/variables.scss';



.experience{
    width: 100%;
    height: 685px;
    background-color: $grey-bg;
    position: relative;
}

.vline{
    border-left: 3px solid $theme-color;
    height: 550px;
    margin-left: 18%;
    margin-top: 3%;
    position: absolute;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: $theme-color;
    border-radius: 50%;
    display: inline-block;
    margin-left: 16%;
    position: absolute;
}
.dot1{
    margin-top: 68px;
}
.dot2{
    margin-top: 180px;
}
.dot3{
    margin-top: 290px;
}
.dot4{
    margin-top: 398px;
}
.dot5{
    margin-top: 520px;
}

.time{
    position: absolute;
    right: 31px;
    top: 3px;
    //font-size:1.2rem;
}

.box-wrap{
    width:100%;
    height:100%;
    position:relative;
}
.box{
    width:70%;
    height:13%;
    background-color: #fff;
    margin-left: 25%;
    border-radius: 25px;
    position: absolute;
    //margin-top:50% !important;
    ul{
        padding: 0px 0px 0px 30px;
    }
    li{
        font-size: 14px;
        padding: 5px 0px 5px 5px;
        display:inline;
    }

}

.box1{
   // margin-top:116%;
   margin-top:435px;
}
.box2{
   // margin-top:100%;
   margin-top:375px;
}
.box3{
    //margin-top:85%;
    margin-top:318px;
}
.box4{
   // margin-top:68%;
   margin-top:255px;
}

.box-header{
    color:$grey-font;
    font-size: 1.1rem;
    position: absolute;
    left: 15px;
    top: 10px;
}

@media (max-width:1100px) and (min-width:550px) {
    .dot{
        margin-left: 16.5%;
    }


    .box1{
        margin-top:444px;
    }
    .box2{
        margin-top:390px;
    }
    .box3{
        margin-top:330px;
    }
    .box4{
        margin-top:250px;;
    }
}


@media only screen and (min-width: 1100px) {
   
    .page-header{
        margin-top: 24px !important;
    }
   
     .dot{
         margin-left: 13.2%;
     }

     .box{
        ul{
            padding: 5px 0px 0px 25px;
        }
        li{
            font-size: 15px;
            padding: 10px 10px 5px 5px;
        }
     }

    .box1{
        margin-top:337px;
    }
    .box2{
        margin-top:331px;
    }
    .box3{
        margin-top:330px;
    }
    .box4{
        margin-top:311px;
    }

}
