
<!-- <app-header ></app-header>  -->
<div id="aboutme" class="summary" > 

  <div class="summary-pic"> 
      <div  appParallax [ratio]="-0.23" class="mypic-bg"></div> 
      <div  appParallax [ratio]="0.2" class="mypic-wrap">
        <img class="mypic" src="assets/images/vas_syd_steps.jpg">
      </div>
    </div> 

  <div class="summary-desc">
    <div class="summary-txt-wrap">
      <span>I'm</span><br>
      <span class="myname">VASANTH ANKE</span>

      <p class="summary-txt"> Passionate technical leader with 15 years of experience designing 
        successful software solutions, applying agile practices and building self-sufficient teams. 
        
      </p>
      <p class="summary-txt">
        Worked with many clients in investment banking, insurance and networking domains 
        in various roles as  a full stack developer, team lead, scrum master and solution designer.
      </p>
    </div>
  </div>
  

</div>
 <app-skills></app-skills>  
 
<app-experience></app-experience>

<app-projects></app-projects>
<app-contact></app-contact> 