
<app-header></app-header> 
<div id="aboutme" class="summary">

  <div class="summary-left">
    <div class="summary-txt-wrap">
      <span class="myname-prefix">I'm</span><br>
      <span class="myname">VASANTH ANKE</span>

      <p class="summary-txt"> Technical architect, based in Sydney, with 14 years of experience as full stack developer, team lead and scrum master. Worked for varied
        clients in investment banking, insurance and networking domains.</p>
        <p class="summary-txt">Passionate about designing and developing web applications.  </p>  
    </div>
  </div>
  <div class="summary-right">
    <div appParallax [ratio]="-0.2" class="mypic-bg"></div>
    <div appParallax [ratio]="0.2" class="mypic-wrap">
      <img class="mypic" src="assets/vas_syd_steps.jpg">
    </div>
  </div>

</div>
<app-skills></app-skills>
<app-experience></app-experience>

<div id="projects" class="projects">
</div>