@import 'src/styles/variables.scss';

//mobile first view

    .summary{
        margin:auto;
        max-width:1300px;
          //height:720px; 
          background-color: $grey-bg;     
    }

    .summary-desc{
        position:relative;
        height:430px;
    }
    .summary-pic{  
        position:relative;
        height: 350px;  
        top:90px;
    }
    .summary-txt-wrap{
        padding:  8%;
        padding-top:12%;
     }
     .myname{
        font-size: 2rem;
    }
    .mypic-bg{
        background-color: $theme-color;
        position: absolute;
        width: 290px;
        height: 210px;
        margin: 1% 8% 7% 10%;
    
    }
    .mypic-wrap{
        //padding:5%;
        width: 281px;
       // height: 170px;
        position: absolute;
        margin: 15% 7% 8% 20%;
    }

    .mypic{
        width:100%;
        opacity:0.9;
    }

@media (max-width:1100px) and (min-width:550px) {
    .sumamry-desc{
        height: 385px;
    }
    .summary-pic{
        height: 432px;
        margin-left: 15%;
    }
    .mypic-bg{
        width:365px;
        height:300px;
    }
    .mypic-wrap{
        width:397px;
        height: 288px;
        margin-top:15%;
    }
}
@media only screen and (min-width: 1100px) {
    .summary{ 
        height:600px;     
     }

     .summary-txt-wrap{
        padding:  20% 10% 10% 15%;
     } 

    .summary-desc{
         width:50%;
         float:right;
     }
    .summary-pic{
        width:50%; 
        height:100%;
        top:0px;  
        float:right;  
      //  height:550px; 
     }

     .mypic-bg{
         width: 371px;
        height: 48%;
        margin-top:18%;
     }
     .mypic-wrap{
         width:397px;
        height: 288px;
        margin-top:30%;
     }

}
