/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    padding:0px;
}

.page-header{
    color: #ccc !important;
    font-size: 3rem !important;
    text-align: center;
    padding: 15px;
}

@media only screen and (min-width: 1100px) {
.page-header{
    width: 2%;
    float: left;
    color: #ccc !important;
    font-size: 3rem !important;
    word-wrap: break-word;
    margin-top: 120px;
    padding-left: 10px;
    text-align: center;
}
}